name: run unit tests
on:
  push:

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - run: pip install pipenv
      - run: pipenv install -d
      - run: >
          pipenv run pytest -v --cov=moc_sprint_tools
